 p{
    font-size: 1.4rem;
    font-weight: 900;
    
    
}
.flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* border: 1px solid black; */
}
.inputStyle{
    font-size: 1.5em;
    padding: 3px 10px;
    display: inline-block;
    width: 30%;
}
